/* * {
  border: 1px solid green;
} */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 65px;
  margin-bottom: 7px;
  margin-top: 0;
}

#container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

/*NOTE need to fix how size of boxes changes to accom text!*/
 .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70vh; /*vw: hundredths of the viewport height*/
  height: 70vh;
  margin: 0 auto; /*this stops the boxes on the grid from expanding when text is input*/

  grid-auto-rows: 23.3vh; /* 160px;*/ /*stopping the expansion*/
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  padding-bottom: 0;
}

.gridBox {
  align-items: center;
  margin: 0; /*this seems to keep all boxes inthe middle of the screen??*/
  font-size: 15vh;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  border: 3px solid white;
  overflow: hidden;
  padding-bottom: 0;
}

#players { /*this is placing buttons@bot*/
  grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 4;
    grid-row-end: 4;
   display: grid;
   grid-template-columns: repeat(2, 0.9fr);
    border: 3px solid black;
    font-size: 3vh;
    grid-template-rows: 16vh; /*this moves the player icons up closer to the end of the board grid*/
}

.playerInPlay { /*this is for when a player is in play and you use JS to addClass to this and them remove when it's the next persons turn*/
  color: #07B9C7;
  text-shadow: 4px 2px 9px #FFF2BB;
}

/*.player1Details { /*this is to make the text box hide and then come into view after JS click event
  opacity: 0;
}*/

/*.player2Details {
  opacity: 0;
}*/
.icon1 {
  color: white;
  font-size: 30px;
}
.icon2 {
  color: white;
  font-size: 30px;
}

#oneUser {
  color: #07B9C7;
  text-shadow: 4px 2px 9px #FFF2BB;
}

#twoUsers {
  color: #07B9C7;
  text-shadow: 4px 2px 9px #FFF2BB;
}
